<ion-header>
  <ion-toolbar>
    <ion-title>
      Match Board
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>TransferHub - Live Board</ion-card-subtitle>
        <ion-card-title>Search and Match Live Transfers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Search, Match or Counter Live Transfer actives by specifying the amount, exchange rate and time period that you will like to send funds to your recepients.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
