<ion-header>
  <ion-toolbar>
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>TransferHub - Get Started</ion-card-subtitle>
        <ion-card-title>Easily Match and Transfer Funds</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>TransferHub let's you build a close group of hub friends to enable period funds transfer at the lowest available fees.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
