<ion-header>
  <ion-toolbar>
    <ion-title>
      Active Bids
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>TransferHub - Your Active Bids and Transfers</ion-card-subtitle>
        <ion-card-title>View Status of all your Active Bids and Transfers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Track the status of all your previous, current and pending bids and transfers in real-time.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
